@using ASR.Data
@model IEnumerable<ASR.Models.Slot>

@{
    ViewData["Title"] = "Slot";
}

@if (User.IsInRole(Constants.StaffRole))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if (User.IsInRole(Constants.StudentRole))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Availability">
                @Html.TextBox("date", DateTime.Now, new { type = "date" })
                Staff ID: @Html.TextBox("staffID", null, new { @class = "form-control" })

                <div class="form-group">
                    <input type="submit" value="Check Availability" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slot in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => slot.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.Staff.SchoolID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.Student.SchoolID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => slot.RoomID)
                </td>
                <td>
                    @* check slot is not booked and is created by current user *@
                    @if (User.IsInRole(Constants.StaffRole) && (slot.StudentID == null) && (slot.Staff.Email == User.Identity.Name))
                    {
                        <form asp-action="Delete">
                            <input name="roomID" value="@slot.RoomID" type="hidden" />
                            <input name="startTime" value="@slot.StartTime" type="hidden" />
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </form>
                    }
                    @* check slot is not booked or booked by current user *@
                    @if (User.IsInRole(Constants.StudentRole) && (slot.StudentID == null || slot.Student.Email == User.Identity.Name))
                    {
                        <form asp-action="Book">
                            <input name="roomID" value="@slot.RoomID" type="hidden" />
                            <input name="startTime" value="@slot.StartTime" type="hidden" />
                            @if (slot.StudentID == null)
                            {
                                <input type="submit" value="Book" class="btn btn-default" />
                            }
                            else
                            {
                                <input type="submit" value="Cancel" class="btn btn-default" />
                            }

                        </form>
                    }
                </td>
        </tr>
        }
        </tbody>
    </table>
